
header{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #001B2F 0%, #005695 100%);
}

.boxLogo{
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

    h1{
        color: white;
        font-size: 25px;
    }
}


.boxMenu{
    width: 35vw;
    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        a{
            color: white;
            font-size: 20px;
        }
    }

}

.boxInput{
    width: 17%;
    margin-right: 20px;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    border: solid white;
    input{
        background-color: transparent;
        border: none;
        width: 60%;
        height: 5vh;

        &::placeholder{
            color: white;
            font-size: 20px;
        }
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
}