
footer{
    border: solid 2px red;
}

.boxSocial{

    background-color: #005695;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    h3{
        font-size: 25px;
    }
    nav{
        border: solid 2px yellow;
        width: 13vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.boxEnd{
    background-color: #232020;
    height: 3vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}