

.boxSocial{

    background-color: #005695;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    h3{
        font-size: 22px;
        font-family: "Inter", sans-serif;
    }
    nav{
        width: 13vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.boxEnd{
    background-color: #232020;
    height: 3vh;
    font-family: "Inter", sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 1000px){

    .boxSocial{
        nav{
            width: 230px;
        }
    }
}

@media(max-width: 585px){
    .boxSocial{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .boxEnd{
        text-align: center;
        height: 6vh;
    }
}